body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f3f3f0;
}

h {
    line-height: 1.4;
}

p {
    font-weight: 500;
    line-height: 1.4;
}

 a,
 a:hover,
 a:focus,
 a:active {
     text-decoration: none;
     color: inherit;
 }

.block-title {
    font-size: 42px;
    font-weight: bold;
}

.margin {
    margin: 0px 60px;
}

.header__link {
    text-decoration: none;
}

.welcome__header {
    background-color: #ffff;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;

    padding: 20px 25px;
}

.welcome__header-main__logo p {
    font-weight: bold;
    text-transform: uppercase;
}

.welcome__header-contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 40px;
}

.welcome__header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 40px;
}

.welcome__header-contacts__img {
    display: flex;
    justify-content: space-between;
    grid-gap: 5px;
}

.welcome__header-contacts__img-inner img {
    width: 20px;
    height: 20px;
}

.welcome__header-contacts__phone p {
    font-weight: bold;
}

/* Main */

.main {
    margin-top: 20px;
    width: 100%;
    height: 580px;
    
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 20px;
}

.main__left {
    border-radius: 10px;

    width: calc(56% - 80px);
    height: inherit;
    background-color: #ffff;
    position: relative;
    float: left;

    box-sizing: border-box;
    padding: 75px 45px;

    /* text-align: center; */
}

.main__left h1 {
    font-size: 48px;
    font-weight: bold;

    margin-bottom: 55px;
}

.main__right {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: #ffff;
}

.main__right img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    border-radius: 10px;
}

.main__left-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 40px;
}

.main__left-info__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-gap: 5px;
}

.main__left-info__inner-text p {
    font-size: 18px;
}

/* feb400 */
.main__left-info__inner-image img {
    width: 35px;
    height: 35px;
}

.main__left-contacts {
    background-color:#f3f3f0;
    padding: 30px 15px;
    margin-top: 75px;

    border-radius: 10px;

    text-align: center;
}

.main__left-contacts h3 {
    font-weight: bold;
}

.main__left-contacts__inputs {
    margin-top: 15px;
}

.main__left-contacts__inputs {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}

.main__left-contacts__inputs-text input {
    /* width: 180px; */
    height: 40px;
    padding: 0px 15px;
    box-sizing: border-box;

    outline: none;
    box-shadow: none;
    border: none;

    border-radius: 10px;
}

.main__left-contacts__inputs-submit input {
    
    /* width: 160px; */
    height: 40px;
    outline: none;
    box-shadow: none;
    border: none;

    background-color: #feb400;

    border-radius: 10px;
}

/* Projects */

.projects {
    margin-top: 20px;

    background-color: #ffff;
    border-radius: 10px;

    padding: 75px 45px;
    box-sizing: border-box;
}


.projects__inner {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    grid-gap: 10px;
}

.projects__inner-box {
    background-color: #f3f3f0;
    max-width: 500px;
    border-radius: 10px;
    flex: 1;
}

.projects__inner-box-image {
    width: inherit;
    height: 350px;
}

.projects__inner-box-image img {
    object-position: center; 
    object-fit: cover;

    height: 100%;
    width: 100%;

    border-radius: 10px;
}

.projects__inner-box-text {
    padding: 10px 20px;
}

.projects__inner-box-text__header {
    padding: 15px 0;
}

.projects__inner-box-text__header h3 {
    font-weight: bold;
}

.projects__inner-box-text__text p {
    margin-bottom: 15px;
}

/* Documents */

.documents {
    margin-top: 20px;

    background-color: #ffff;
    border-radius: 10px;

    padding: 75px 45px;
    box-sizing: border-box;
}

.documents h2 {
    margin-bottom: 40px;
}

.document__name {
    font-size: 24px;
}

.documents__slide-container {
    width: 100%;
    padding: 40px 0;
}

.documents__slide-content {
    /* padding: 45px 20px; */
    margin: 0 40px;

    /* background-color: red; */
    overflow: hidden;
}

.documents__card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.documents__slide-card__wrapper {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.documents__slide-card {
    position: relative;
    /* width: 300px; */
    /* height: 450px; */

    background-color: #ffff;
}

.documents__slide-image {
    /* width: 400px; */
    height: 550px;
}

.documents__slide-image .documents__card-image {
    width: 100%;
    height: 100%;
}

.swiper-navBtn {
    color: #febe00 !important;
    transition: color 0.3s ease;
}

.swiper-navBtn:hover {
    color: #fe8700 !important;
}

.swiper-navBtn::before,
.swiper-navBtn::after {
    font-size: 40px !important;
}

.swiper-button-next {
    right: 0 !important;
}

.swiper-button-prev {
    left: 0 !important;
}

.swiper-pagination-bullet {
    background-color: #febe00 !important;
    opacity: 1 !important;
}

.swiper-pagination-bullet-active {
    background-color: #fe8700 !important;
}

.documents__slide-card__wrapper {
    --add-bottom: 30px;
    padding-bottom: var(--add-bottom);
}

.documents__slide-card__wrapper [class^="swiper-button-"] {
    top: calc(50% - var(--add-bottom) / 2);
}


/* About */

.about {
    margin-top: 20px;
    padding: 75px 45px;
    
    border-radius: 10px;
    
    background-color: #ffff;
}

.about__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;
}

.about__inners {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.about__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    grid-gap: 10px;
}

.about__item {
    background-color:#f3f3f0;
    border-radius: 10px;
    width: calc((100% - 40px) / 3);
    height: 300px;

    padding: 45px;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
    grid-gap: 30px;
}

.about__item-title h4 {
    font-weight: bold;
    font-size: 20px;
}

.about__item-image {
    width: inherit;
}

.about__item-image img {
    /* min-height: 160px; */
    /* max-width: 100%;
    width: 100%;

    object-fit: cover;
    object-position: center; */
    width: 100%;
    height: 100%;
}

.about__item-text {
    text-align: center;
}

/* Footer */

footer {
    margin-top: 20px;

    background-color: #ffff;

    padding: 25px 25px;
    
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__contacts-inner img {
    width: 30px;
    height: 30px;
}

.footer__contacts {
    display: flex;
    justify-content: space-between;
    grid-gap: 10px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    grid-gap: 10px;
}

.footer__logo-text {
    margin-bottom: 15px;
}

.footer__logo-text p {
    font-weight: bold;
}

.footer__info h6 {
    color: #868585;
    font-weight: 500;
}

.phone-text {
    letter-spacing: 1.2px;
}

@media screen and (max-width: 768px) {
    .swiper-navBtn {
        display: none !important;
    }
}

@media screen and (max-width: 1317px) {
    .main__left h1 {
            font-size: 36px;
    
            /* margin-bottom: 30px; */
        }

    .block-title {
        font-size: 32px;
    }

    .main {
        height: 660px;
    }
    
    .main__left-contacts__inputs {
        flex-direction: column;
    }

    .main__left-contacts__inputs-texts input {
        width: 180px;
    }

    .main__left-contacts__inputs-submit input {
        width: 180px;
    }
    
    .main__left-info__inner-text p {
        line-height: 1;
    }

    .welcome__header-main__about {
        display: none;
    }

    .welcome__header-main__projects {
        display: none;
    }
    
    .projects__inner-box-image {
        height: 300px;
    }
}

@media screen and (max-width: 1281px) {
    .main {
        height: 500px;
    }

    .main__left h1 {
        font-size: 24px;

        margin-bottom: 20px;
    }

    .main__left-info__inner-text p {
        font-size: 14px;
    }

    .main__left-contacts {
        margin-top: 20px;
    }

    .block-title {
        font-size: 24px;
    }

    .projects__inner-box-image {
        height: 250px;
    }
}

@media screen and (max-width: 1051px) {
    .about__item-title h4 {
        font-size: 16px;
    }

    .about__item-text p {
        font-size: 14px;
    }

    .projects__inner-box-text__text {
        font-size: 14px;
    }
    
}


@media screen and (max-width: 1016px) {
    .main__left-info__inner-text p {
        font-size: 12px;
    }

    .main__left-contacts h3 {
        font-size: 14px;
    }

    .projects__inner-box-image {
        height: 200px;
    }

    .projects__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .projects__inner-box {
        max-width: none;
    }
}

@media screen and (max-width: 930px) {

    .margin {
        margin: 0 30px;
    }

    .main__left-info {
         grid-gap: 10px;
    }

    .about__item {
        padding: 30px 10px;
    }

    footer {
        font-size: 14px;
    }

    .footer__contacts {
        display: none;
    }

    .main__left {
        padding: 45px 25px;
    }
    .welcome__header-contacts__phone {
        display: none;
    }

    .about {
        padding: 45px 25px;
    }

    .projects {
        padding: 45px 25px;
    }

    .projects__inner {
        grid-gap: 20px;
    }
}



@media screen and (max-width:730px) {

    .main__left-info {
        flex-direction: column;
    }
    
    .main__left h1 {
        font-size: 18px;
    }

    .main__left-info {
        align-items: baseline;
    }
    
    .main__left-contacts h3 {
        grid-gap: 15px;
    }

    .main__left-contacts h3 {
        font-size: 12px;
    }
}
@media screen and (max-width:700px) {
    .welcome__header-contacts__time {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .main__left {
        width: 100%;
        order: 2;
    }

    .main__right {
        display: block;
        width: 100%;
        order: 1;
    }

    footer {
        font-size: 12px;
    }
}

@media screen and (max-width:550px) {
    .block-title {
        font-size: 18px;
    }

    .about__items {
        flex-direction: column;
    }

    .about__item {
        width: 100%;
        height: 270px;
    }

    .about__item-image img {
        width: 80px;
        height: 80px;
    }
    
    .about__items-bottom {
        display: none;
    }

    .footer__address {
        display: none;
    }
}

@media screen and (max-width:550px) {
    .documents {
        padding: 25px 20px;
    }

    .projects {
        padding: 25px 20px;
    }

    .about {
        padding: 25px 20px;
    }
}

@media screen and (max-width:400px) {
    .documents {
        padding: 25px 0px;

        text-align: center;
    }

    .projects {
        padding: 25px 20px;

        text-align: center;
    }

    .about {
        padding: 25px 20px;
    }

    .about__header {
        /* margin: 0 auto; */
    }

    .main__left {
        text-align: center;
    }
}

@media screen and (max-width: 376px) {
    .welcome__header-contacts {
        display: none;
    }

    .welcome__header-main {
        margin: 0 auto;
    }

    .main {
        height: auto;
    }

    .main__left {
        width: 100%;

        padding: 25px;
    }

    .main__left  h1 {
        font-size: 24px;
    }

    .main__left-info {
        flex-direction: column;
    }

    .main__left-contacts {
        margin-top: 30px;
    }

    .main__right {
        display: none;
    }

    .margin {
        margin: 0 15px;
    }

    .block-title {
        font-size: 24px;
    }

    .about {
        padding: 25px;
    }

    .about__items {
        flex-direction: column;
    }

    .about__item {
        width: inherit;
    }
}
